<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis mapper配置文件，根据com..mapper配合动态生成其实现类，主要操作数据库-->
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.jnshu.crq.mapper.ProfessMapper">

    <select id="getProfessList" resultMap="BaseResultMap">
        select * from profess_tb;
    </select>
    <resultMap id="BaseResultMap" type="com.jnshu.crq.model.Profess">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <result column="description" property="description"></result>
        <result column="diff" property="diff"></result>
        <result column="need" property="need"></result>
        <result column="tip" property="tip"></result>
        <result column="current" property="current"></result>
        <result column="threshold" property="threshold"></result>
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>
</mapper>